/target
*.bat
/*.bat
.project
.classpath
/.settings

.settings
.project
**/.settings
**/.classpath
**/.eclipse
**/.project
**/target
.idea
**/.idea
*.iml
**/bin
**/.DS_Store
.DS_Store

**/tree.txt
.idea/
.classpath/
.eclipse/
.project/
.settings/
.DS_Store
target/
*.versionsBackup
**/*.versionsBackup
